<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thekha.vendor.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thekha.vendor.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thekha.vendor.activity.DashboardActivity" >
        </activity>
        <activity
            android:name="com.thekha.vendor.activity.BusinessActivity"
            android:parentActivityName="com.thekha.vendor.activity.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thekha.vendor.activity.DashboardActivity" />
        </activity>
        <activity
            android:name="com.thekha.vendor.activity.EditBusinessActivity"
            android:parentActivityName="com.thekha.vendor.activity.BusinessActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thekha.vendor.activity.BusinessActivity" />
        </activity>
        <activity
            android:name="com.thekha.vendor.activity.TransactionActivity"
            android:parentActivityName="com.thekha.vendor.activity.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thekha.vendor.activity.DashboardActivity" />
        </activity>
        <activity
            android:name="com.thekha.vendor.activity.ContactUsActivity"
            android:parentActivityName="com.thekha.vendor.activity.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thekha.vendor.activity.DashboardActivity" />
        </activity>

<!-- added by Gaurav Rana Start-->	

        <activity
            android:name="com.thekha.vendor.activity.DealsActivity"
            android:label="@string/title_deals_details"
            android:parentActivityName="com.thekha.vendor.activity.DashboardActivity" >
        </activity>
        <activity
            android:name="com.thekha.vendor.activity.DealsViewActivity"
            android:label="@string/title_deals_view"
            android:parentActivityName="com.thekha.vendor.activity.DashboardActivity" >
        </activity>
        <activity
            android:name="com.thekha.vendor.activity.ActivityTemp"
            android:label="temp_screen" >
        </activity>
        

<!-- added by Gaurav Rana End-->	
        
        </application>

</manifest>
